.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block !important;
}

 /* .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: unset;
  padding-right: 20px;
 width: 100px; 
 } */


/* .react-datepicker__input-container {
  width:100%;
} */

.input-group-append{

  width:auto;
  max-width: 17%;
}

.react-datepicker-wrapper {
  width:83%;
}

/* .react-datepicker {
  width: 313px;
} */

.not-round-right-corner{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.modal-backdrop {
  z-index: 0;
}
