.expenses-control {
    text-align: center;
    border: 1px solid #9ea7b0;
    background-color: #fff;
    border-radius: .25rem;
    word-wrap: break-word;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
  }

  .center{
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }