.expenses-control {
  text-align: center;
  border: 1px solid #9ea7b0;
  background-color: #fff;
  border-radius: 0.25rem;
  word-wrap: break-word;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

.btn_addExpense {
  background-color: #aeaeae;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

.btn_addExpense:hover {
  background-color: #9b9b9b;
  transition: all 0.4s ease 0s;
}

.center {
  margin: 0 auto;
  width: 95%;
  text-align: center;
}
